/* 현재 z-index 3 단계*/
/*-----전체 선택자-----*/
body{
    margin: 0;
    background-color: black; 
}
a{
    text-decoration: none;
}
/*-----전체 선택자-----*/

/*-----스크롤 바-----*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {

}
::-webkit-scrollbar-thumb{
    background: yellowgreen;
}
/*-----스크롤 바-----*/

/*-----상단 메뉴 바-----*/
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 15%;
    z-index: 3;
    border-bottom: 1px solid gray;
}
.navbar span{
    color: yellowgreen;
}
.navbar a {
    float: left;
    display: block;
    color: yellowgreen;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    text-shadow: 0px 0px 5px yellowgreen;
}
.navbar a#login,
.navbar a#signup {
    float: right;
}
.menubutton{
    position: absolute;
    left: 10px;
    top: 70px;
    background-color: rgba(0, 0, 0, 0);
    color: yellowgreen;
    border: none;
    border-radius: 100%;
}
.menubutton img{
    width: 25px;
    height: 25px;
}
.menubutton:hover{
    background-color: yellowgreen;
}
/*--테마--*/
.theme {
    float: right;
    width: 250px;
    margin: 15px auto;
}
.them_text {
    float: left;
    padding: 0 5px 0 0;
    color: yellowgreen;
    font-weight: bold;
}
a.them {
    display: block;
    float: left;
    padding: 2px 10px;
}
.them img{
    filter: #ffffff;
    border: white solid 1px;
}
/*--옵션들 (카테고리?)--*/
.navbar_option{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    display: inline-block;
    bottom: 0px;
    left: 200px;
    width: 85%;
    height: 45%;
    overflow-x: scroll;
    overflow-y: hidden; 
    white-space: nowrap;
}
.navbar_option::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0); /*스크롤바 제거!*/
}
.navbar_option .option{
    display: inline-block;
    width: 55px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 5px auto;
    text-align: center;
    background-color: #484848;
    box-shadow: 3px 3px #191919;
}
.option:hover{
    background-color: #585858;
}
.navbar_option .option a{
    all: revert;
    padding: 5px auto;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
/*----검색-----*/
.search{
    display: inline-block;
    margin: 15px;
    margin-left: 250px;
    padding: 1px;
    width: 530px;
    height: 30px;
    border: 2px inset yellowgreen;
    border-radius: 15px;
    padding-left: 1px;
    background-color: #191919;
    overflow: hidden;
}
.search input[type="search"]{
    border: none;
    height: 30px;
    width: 500px;
    color: yellowgreen;
    background-color: #191919;
}
.search input[type="search"]::placeholder{
    color: yellowgreen;
    margin-left: 5px;
}
.search img{
    position: absolute;
    width: 30px;
    height: 30px;
}
/*-----상단 메뉴 바-----*/

/*-----사이드 메뉴 바-----*/
.sidebar{
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2;
    height: 90%;
    width: 0;
    background-color: #191919;
    position: fixed;
    padding-top: 110px;
    color: yellowgreen;
    transition: 0.5s;
}
.sidebar:target {
    width: 15%;
}
.sidebar_list{
    list-style-type: none;
    position: relative;
}
.sidebar_list li{
    width: 100%;
    height: 50px;
    font-weight: bold;
    padding: 5px;
}
#fan_icon{
    color: black;
    font-size: 25px;
}
.sidebar_list li:hover{
    background-color: yellowgreen;
    color: black;
}
.sidebar_list a{
    color: yellowgreen;
}
.sidebar_list li img{
    width: 25px;
    height: 25px;
}

/*-----사이드 메뉴 바-----*/

/*-----뮤직 플레이어-----*/
.player_frame{
    position: fixed;
    right: 0;
    height: 100%;
    width: 0;
    background-color: black;
    padding-top: 110px;
    transition: 0.5s;
    z-index: 2;
}
.player_frame:target{
    width: 30%;
}
.player_frame iframe{
    width: 85%;
    height: 85%;
    border: none;
    margin-left: 40px;
}
.player_frame .play_close{
    position: fixed;
}
.player_frame .buttonbox{
    margin-left: 140px;
    margin-top: 20px;
}
.to_music{
    border: none;
    background-color: yellowgreen;
    border-radius: 10px 0px 0px 10px;
    color: white;
    width: 60px;
    height: 30px;
}
.to_video{
    border: none;
    background-color: yellowgreen;
    border-radius: 0px 10px 10px 0px;
    color: white;
    width: 60px;
    height: 30px;
}
.to_music:hover,
.to_video:hover{
    box-shadow: 0px 0px 6px white;
}
/*-----뮤직 플레이어-----*/

/*-----메인 페이지-----*/
.main_page{
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0;
    background-image: url(resource/img/background02.JPG);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.main_page .textbox{
    display: block;
    width: 700px;
    height: 150px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100px;
}
/*-----메인 페이지-----*/

/*-----중앙 컨텐츠(컨텐츠 박스)-----*/
.content_frame{
    margin: 20px;
    border: 1px none;
    width: 99%;
    height: 380px;
    overflow-x: scroll;
    white-space: nowrap;
}
.content_frame:hover{
    background-color: #101010;
}
.content_frame:hover .title{
    color: yellowgreen;
}
.content_frame .title{
    color: white;
    margin-left: 15px;
}
.content_box{
    position: relative;
    display: inline-block;
    width: 230px;
    height: 290px;
    text-align: center;
    border: none;
    border-radius: 25px;
    margin: 0px 10px 0px 0px;
    background-color: #484848;
    box-shadow: 5px 5px #191919;
}
.content_box:hover{
    transition: 0.5s ease-out;
    transform: scale(1.05);
}
.content_box img{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 15px;
    left: 40px;
    display: block;
}
.artist_frame .title{
    margin: 5px 5px 5px 20px;
}
.content_box .name{
    display: block;
    position: relative;
    top: 60%;
    color: black;
}
/*-----중앙 컨텐츠(컨텐츠 박스)-----*/

/*-----페이지 마무리 정보-----*/
.page_info{
    text-align: center;
    color: yellowgreen;
}
/*-----페이지 마무리 정보-----*/

/*-----인기 차트-----*/
.chart{
    margin: 20px;
    border: 3px inset
    
}
.chart:hover{
    border: 3px inset yellowgreen;
}
.chart:hover h3{
    color: white;
    text-shadow: 0px 0px 5px white;
}
.chart h3{
    margin-left: 15px;
    color: yellowgreen;
}
.chart_list li{
    margin: 10px 0px;
    border: 3px solid white;
    list-style-position: inside;
    width: 96%;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.chart_list_text_a:hover{
    color: yellowgreen;
    visibility: visible;
}
.chart_list_img{
    float: right;
    margin: 0px 13px;
}
.hivelist{
    background-color: black;
    color: white;
    display: none;
    visibility: hidden; /*사실 visibility는 필요 없음..*/
}
.hivelist:hover{
    color: yellowgreen;
}
.chart_list #li_1:hover #hli_1,
.chart_list #li_2:hover #hli_2,
.chart_list #li_3:hover #hli_3,
.chart_list #li_4:hover #hli_4,
.chart_list #li_5:hover #hli_5{
    display: block;
    visibility: visible;
}
.hivelist img{
    width: 150px;
    height: 150px;
    margin: 25px;
    display: inline-block;
}
.hivelist img:hover{
    filter: brightness(120%);
}
.hivetext{
    display: inline-block;
    border: 1px solid white;
}
/*-----인기 차트-----*/

/*-----중앙 컨텐츠 자주 듣는 음악 (혹은 음악 추천)-----*/
.music_list{
    margin: 20px;
}
.music_list h3{
    color: yellowgreen;
}
.music_list a:hover{
    color: yellowgreen;
}
.music_box{
    position: relative;
    display: inline-block;
    width: 240px;
    height: 240px;
    margin: 10px;
    overflow: hidden;
}
.music_box img{
    width: 100%;
    height: 100%;
}
.hivebox{
    position: absolute;
    z-index: 1;
    background: black;
    opacity: 0.8;  /*투명도*/
    transition: 0.5s; /*올라오는 이미지 부여! 깨달았다!*/
    padding: 10px;
    width: 100%;
    height: 50%;
    bottom: -100%;
    color: white;
}
.music_box:hover .hivebox{
    bottom: 0;
}
.hivebox .tag{
    border: 2px solid #484848;
    border-radius: 10px;
    padding: 3px;
    font-style: italic;
}
/*-----중앙 컨텐츠 자주 듣는 음악 (혹은 음악 추천)-----*/
