a{
    text-decoration: none;
}
.main_player{
    display: flex;
    margin: 0;
    background-color: #282828;
    height: 100vh;
}
.play_field{
    align-items: center;
    display: block;
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: auto;
    background-color: black;
    border-radius: 15px;
    box-shadow: 1vw 1vw 15px black;
}
.play_field h2{
    color: yellowgreen;
    font-size: 2vw;
}
/*----------버튼----------*/
.to_music{
    border: none;
    background-color: yellowgreen;
    border-radius: 10px 0px 0px 10px;
    color: white;
    width: 6vw;
}
.to_video{
    border: none;
    background-color: yellowgreen;
    border-radius: 0px 10px 10px 0px;
    color: white;
    width: 6vw;
}
.to_music:hover,
.to_video:hover{
    box-shadow: 0px 0px 6px white;
}
/*----------버튼----------*/
.player_frame{
    width: 25vw;
    height: 70vh;
    border: none
}
/*음악 부분*/
